.document-container {
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.section-title {
  margin: 1em 0 1em 0;
}

.section-title > textarea {
  width: 550px;
  height: 1.5em;
  font-size: 3em;
  border: none;
  resize: none;
}

.section-title > textarea:focus {
  outline: none;
}

.section-content {
  display: flex;
  flex-direction: column;
}

.list-children {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 1rem;
}

.document-child {
  display: flex;
  font-size: 1rem;
  text-decoration: underline 1px solid rgb(196, 196, 196);
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.document-child:hover {
  background-color: #e1e1e1;
}

.document-child > :first-child {
  margin-right: 0.2rem;
}

.btn-empty-page {
  position: relative;
  display: flex;
  align-items: center;
  width: 550px;
  border: none;
  border-radius: 0.2rem;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}

.btn-empty-page:hover {
  background-color: #eeeeee;
  font-weight: bold;
}

.btn-empty-page > :last-child {
  display: none;
  position: absolute;
  right: 0.2rem;
}

.btn-empty-page:hover > :last-child {
  display: block;
}
